/* Variables are located in this file */
/* GRID LAYOUT OUTLINEE
   |-----------100%-----------| col-1 (100%) - 92%
   |-----50%----||-----50%----| col-2 (50%) - 44%
   |--------75%--------||-25%-| col-3 (75%)
   |-------66%-------||--33%--| col-3-1 (66%) - 68%
   |--33%--||-------66%-------| col 3-3 (33%)
   |-25%-||-25%-||-25%-||-25%-| col-4 (25%) - 20%
    */
/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
  box-sizing: inherit; }

/*------------ Grid system --------------------*/
.row::after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  margin-left: 3.33333%;
  min-height: 1px;
  /* IE hack */ }

.col-1 {
  width: 92%;
  margin-right: 3.33333%; }

.col-2 {
  width: 48.1%; }

.col-2_left, .col-2_right {
  margin-right: 0.2%; }

/* Extends used */
.col-3-1 {
  width: 60%; }

.col-3-3 {
  width: 30%; }

.col-4 {
  width: 21%; }

/* Mixins are located in this file */
/*------Media query for tablets --------*/
@media (min-width: 480px) and (max-width: 767px) {
  .col-4 {
    width: 44%; }
  .col-2 {
    width: 92%; }
  .col-3-3 {
    width: 92%; }
  .col-2_left, .col-2_right, .col-2_right {
    margin: 0 4%; }
  .img-1-2 {
    margin-bottom: 2em; }
  nav li {
    width: 46%;
    padding-bottom: 0.8em; }
  nav li:nth-child(odd) {
    float: left; }
  nav list-style:nth-child(even) {
    float: right; }
  button {
    margin-bottom: 1em; } }

/*------Media query for mobiles --------*/
@media (max-width: 479px) {
  [class*="col-"] {
    width: 92%; }
  .col-2_left, .col-2_right, .col-2_right {
    margin: 0 4%; }
  .img-1-2 {
    height: 12em;
    margin-bottom: 2em; }
  .img-1-3 {
    height: 12em; }
  nav li {
    width: 92%;
    float: none;
    padding-bottom: 0.5em; }
  button {
    margin-bottom: 1em; }
  #homeBanner h1 {
    font-size: 2em; }
  #homeBanner {
    margin: 0.5em auto;
    padding: 0; } }

/*------Media query for background image --------*/
@media (min-width: 702px) {
  header {
    background: url(../img/meditation-banner.jpg) no-repeat;
    /* Mixin with parameters */
    /* Bourbon */
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: 0.5em; } }

@media (max-width: 701px) {
  header {
    background: url(../img/meditation-banner-small.jpg) no-repeat;
    /* Mixin with parameters */
    /* Bourbon */
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: 0.3em; } }

/* Mixins are located in this file */
/* Border box declaration */
html {
  box-sizing: border-box;
  background-color: #CFDAF7; }

/* ------ The page ------------ */
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
  border-radius: 1%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Mixin used */
  font-family: "Mukta Vaani", sans-serif;
  color: #464646; }

p {
  /* Variables used */
  font-family: "Mukta Vaani", sans-serif;
  color: #606060; }

img {
  opacity: 0.8; }

.fa {
  padding: 0 1.5em;
  /* Variable used */
  color: #464646; }

/* ------------ Header & Nav ------------- */
/* Nesting to 2 levels */
nav ul {
  list-style: none; }

nav li {
  float: left;
  padding-left: 2.5em; }

nav a {
  font-family: "Mukta Vaani", sans-serif;
  color: #464646;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold; }
  nav a:hover {
    text-decoration: underline; }

/* ------------ Main banner ----------- */
#homeBanner {
  text-align: center;
  margin: 2em auto;
  padding: 4em;
  width: 85%;
  float: none;
  border-radius: 1%;
  /* Bourbon */
  background-color: #7897e8;
  background-image: -webkit-linear-gradient(top, #7897e8, #E6E7F0);
  background-image: linear-gradient(to bottom,#7897e8, #E6E7F0); }

#homeBanner h1 {
  font-size: 3.5em;
  font-weight: bold;
  /* https://css-tricks.com/adding-stroke-to-web-text/ */
  /* Variables used, Built-in Sass function used */
  -webkit-text-fill-color: #464646;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #393939; }

.middleBanner {
  margin-bottom: 1.5em; }

/*--------------- Images -------------------*/
[class*='img-'] {
  /* Mixin used */
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2%; }

.img-1-3 {
  width: 90%;
  /* Variable + math */
  height: 20em; }

.img-1-4 {
  width: 90%;
  height: 12em; }

.img-1-2 {
  width: 90%;
  /* Variable + math */
  height: 16em; }

.img-1-1 {
  width: 95%; }

/*---------------- Contents -------------------*/
.col-3-3 p {
  width: 90%; }

/*--------------- Articles -------------------*/
.socialMedia {
  list-style: none; }

.socialMedia a {
  text-decoration: none;
  font-weight: bold;
  /* Variable used */
  color: #464646; }

.hulk {
  box-shadow: 0  0 0; }

/* ----------- Button --------------------*/
button {
  border: none;
  background: none;
  margin-top: 1em;
  /* Variables used, Built-in Sass function used */
  font-family: "Mukta Vaani", sans-serif;
  color: #6c6c6c;
  text-decoration: underline; }

button .fa {
  padding-left: 0.4em; }

/*------------ Footer --------------------*/
/* Nesting to 2 levels */
footer {
  padding-top: 2em; }
  footer h6 {
    text-align: center;
    padding-top: 1em; }
    footer h6 .fa {
      color: #464646; }
    footer h6 a {
      color: #464646;
      text-decoration: none; }
