@import "structure/variables";
@import "structure/grid";
@import "structure/media";
@import "structure/mixins";
@import "bourbon";
@import "neat";


/* Border box declaration */

html {
    box-sizing: border-box;
    background-color: #CFDAF7;
}

/* ------ The page ------------ */

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    background-color: #fff;
    border-radius: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Mixin used */
    @include keyFont;
}

p {
    /* Variables used */
    font-family: $primaryFont;
    color: $secondaryFontColor;
}

img {
  opacity: 0.8;
}

.fa {
    padding: 0 1.5em;
    /* Variable used */
    color: $primaryFontColor;
}

/* ------------ Header & Nav ------------- */
/* Nesting to 2 levels */
nav {
    ul {
        list-style: none;
    }

    li {
        float: left;
        padding-left: 2.5em;
    }

    a {
        @include keyFont;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        
        &:hover {
            text-decoration: underline;
        }
    }
}


/* ------------ Main banner ----------- */

#homeBanner {
    text-align: center;
    margin: 2em auto;
    padding: 4em;
    width: 85%;
    float: none;
    border-radius: 1%;
    /* Bourbon */
    @include linear-gradient(to bottom, darken(#CFDAF7, 20%), #E6E7F0);
}

#homeBanner h1 {
    font-size: 3.5em;
    font-weight: bold;
    /* https://css-tricks.com/adding-stroke-to-web-text/ */
    /* Variables used, Built-in Sass function used */
    -webkit-text-fill-color: $primaryFontColor; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: darken($primaryFontColor, 5%);
}

.middleBanner {
    margin-bottom: 1.5em;
}

/*--------------- Images -------------------*/

[class*='img-'] {
    /* Mixin used */
    @include pictureShadow;
}

.img-1-3 {
    width: 90%;
    /* Variable + math */
    height: $baseImageHeight + 8em;
}

.img-1-4 {
    width: 90%;
    height: $baseImageHeight;
}

.img-1-2 {
    width: 90%;
    /* Variable + math */
    height: $baseImageHeight + 4em;
}

.img-1-1 {
    width: 95%;
}

/*---------------- Contents -------------------*/

.col-3-3 p {
    width: 90%;
}

/*--------------- Articles -------------------*/

.socialMedia {
    list-style: none;
}

.socialMedia a {
    text-decoration: none;
    font-weight: bold;
    /* Variable used */
    color: $primaryFontColor;
}

.hulk {
    box-shadow: 0  0 0;
}

/* ----------- Button --------------------*/

button {
    border: none;
    background: none;
    margin-top: 1em;
     /* Variables used, Built-in Sass function used */ 
    font-family: $primaryFont;
    color: lighten($secondaryFontColor, 5%);
    text-decoration: underline;
}

button .fa {
    padding-left: 0.4em;
}

/*------------ Footer --------------------*/
/* Nesting to 2 levels */
footer {
    padding-top: 2em;

    h6 {
        text-align: center;
        padding-top: 1em;
        
        .fa {
            color: $primaryFontColor;
        }
        
        a {
            color: $primaryFontColor;
            text-decoration: none;
        }
    }
}

