extends structure/_layout.pug
block content
            .row#homeBanner
                .construction 
                    h1 Page under construction
                .constructionPage
                    img(src="img/hulk-meditation_sm.jpg" class="img-1-1 hulk" alt="Page under construction")
