extends structure/_layout.pug

block content
        .row
            .col-1#homeBanner
                h1 Magic Mind
                h4 This site is designed to provide meditation aids. So when you are stuck at home or in your office and you need to relieve stress, you can gaze at your monitor and it will help to empty your mind. You can then either meditate or just relax and reduce your stress.
        .row 
            // http://refills.bourbon.io/
            .cards
                .card
                    .card-image
                        // img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="")
                    .card-header
                        p.miniHeader How to use this aid
                    .card-copy
                        p This site is designed to assist with stress reduction and as a meditation aid. To achieve this please select a photo and look at it. The visual is designed to help you to calm your mind. By staring at the picture and imagining your are there you will feel calm and eventually your mind will empty.
                .card
                    .card-image
                        img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="")
                    .card-header
                        p.miniHeader When to use this site
                    .card-copy
                        p Use this site throughout the day. At home, at work or riding the train. It is a perfect opportunity to escape from your stress. Magic Mind has been configured to work on you laptop, tablet or mobile phone. So you can take it with you and use it whenever you feel your stress building.
                .card
                    .card-image
                        img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="")
                    .card-header
                        p.miniHeader What this site offers
                    .card-copy
                        p We offer photos of some of the most beautiful landscapes. All carefully selected to help you to either relax and reduce your stress or as an aid to help you achieve a deeper level with your meditation. All photos have been grouped to allow you to find what you are looking for.
        .row
            .col-3-3
                p.social Follow us on:
                ul.socialMedia
                    li
                        i.fa.fa-facebook-square(aria-hidden="true")
                            a(href="#")  facebook
                    li
                        i.fa.fa-twitter-square(aria-hidden="true")
                            a(href="#")  twitter
            .col-3-3
                p.social Follow us on:
                ul.socialMedia
                    li
                        i.fa.fa-instagram(aria-hidden="true")
                            a(href="#")  instagram
                    li
                        i.fa.fa-google-plus-square(aria-hidden="true")
                            a(href="#")  google+
            .col-3-3
                p.social Follow us on:
                ul.socialMedia
                    li
                        i.fa.fa-flickr(aria-hidden="true")
                            a(href="#")  flickr
                    li
                        i.fa.fa-tumblr-square(aria-hidden="true")
                            a(href="#")  tumblr
