.row
    header
    .row
        nav.col-1
            ul
                li
                    a(href="index.html") Home
                li
                    a(href="summer.html") Summer
                li
                    a(href="construction.html") Winter
                li
                    a(href="construction.html") Contact us