doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Magic Mind - Home
        link(href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="../css/styles.css")

    body
        .wrapper
            include _header.pug
            block content
            include _footer.pug
