.row
    // http://refills.bourbon.io/components/ 
    .breadcrumb.col-1
        br
        br
        a(href="index.html") Home
        a(href="summer.html") Summer
        a(href="construction.html") Winter
        a(href="construction.html") Contact us
.row
    footer.col-1
        h6 2112 Settlers Lane | New York | New York | 10013 | ph: 917-815-9397 |
            i.fa.fa-skype(aria-hidden="true")        
                a(href="#") skype