html
head
    title Magic Mind - Home
body
    .wrapper
        .row
            header
        .row
            nav.col-1
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Summer
                    li
                        a(href="#") Winter
                    li
                        a(href="#") Contact us
        .row
            .col-1