/* Variables are located in this file */
$primaryFont: 'Mukta Vaani', sans-serif;
$secondaryFont: 'Baloo Bhaina', cursive;
$primaryFontColor: #464646;
$secondaryFontColor: lighten($primaryFontColor, 10%);
$baseImageHeight: 12em;
